@page
@model SacramentPlanner.Pages.Meetings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meeting.ID" />
            <div class="form-group">
                <label asp-for="Meeting.Date" class="control-label"></label>
                <input asp-for="Meeting.Date" class="form-control" />
                <span asp-validation-for="Meeting.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Conductor" class="control-label"></label>
                <input asp-for="Meeting.Conductor" class="form-control" />
                <span asp-validation-for="Meeting.Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningHymn" class="control-label"></label>
                <input asp-for="Meeting.OpeningHymn" class="form-control" />
                <span asp-validation-for="Meeting.OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <input asp-for="Meeting.OpeningPrayer" class="form-control" />
                <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SacramentHymn" class="control-label"></label>
                <input asp-for="Meeting.SacramentHymn" class="form-control" />
                <span asp-validation-for="Meeting.SacramentHymn" class="text-danger"></span>
            </div>
            <div id="speakers">
                @for (int i = 0; i < Model.Meeting.Speakers.Count; i++)
                {
                    int speakerNum = i + 1;
                    <fieldset id="fieldset@(speakerNum)" class="speaker-group">
                        <legend>Speaker @speakerNum</legend>
                        <input type="hidden" name="SpeakerID" value="@Model.Meeting.Speakers[i].ID" />
                        <label for="Speaker@(speakerNum)" class="control-label">Speaker @speakerNum</label>
                        <input id="Speaker@(speakerNum)" name="ExistingSpeaker" class="form-control" value="@Model.Meeting.Speakers[i].FullName " />

                        <label for="Speaker@(speakerNum)Topic" class="control-label">Speaker @speakerNum Topic</label>
                        <input id="Speaker@(speakerNum)Topic" name="ExistingTopic" class="form-control" value="@Model.Meeting.Speakers[i].Topic " />

                        <button type="button" class="btn btn-danger remove-speaker" onclick="hideSpeaker(event)" data-speaker="@(speakerNum)">Remove Speaker</button>
                    </fieldset>
                }
            </div>
            <div class="form-group" id="addSpeakerGroup">
                <label for="addSpeakerInput" class="control-label">Speaker Name</label>
                <div class="input-group">
                    <input id="addSpeakerInput" class="form-control" placeholder="Add a speaker" />
                    <span class="text-danger"></span>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" onclick="addSpeaker(event)">Add Speaker</button>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Meeting.MusicalNumber" class="control-label"></label>
                <input asp-for="Meeting.MusicalNumber" class="form-control" />
                <span asp-validation-for="Meeting.MusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.IntermediateHymn" class="control-label"></label>
                <input asp-for="Meeting.IntermediateHymn" class="form-control" />
                <span asp-validation-for="Meeting.IntermediateHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingHymn" class="control-label"></label>
                <input asp-for="Meeting.ClosingHymn" class="form-control" />
                <span asp-validation-for="Meeting.ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                <input asp-for="Meeting.ClosingPrayer" class="form-control" />
                <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
